/* CSS LAYOUT */
/* **************************************************************** */
  
/* CSS LAYOUT */
/* **************************************************************** */

/* MOBILE FIRST */
#contenido{
    height: 100vh;
    display: grid;
    grid-template-columns: 0px repeat(4, 1fr) 0px;
    /*3 filas, header, main y footer*/
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
}
header{
    display: grid;
    grid-template-columns: 0px repeat(4, 1fr) 0px;
    grid-template-rows: repeat(3, 1fr) ;
}
.tituloheader{
    grid-column: 1/ span-1;
    grid-row: 1 / span-1;
    /*padding: 0px 100px;*aquí quería centrar el título, pero sé que no se hace así*/
}
.butacaheader{
    grid-column: 2/ span-1;
    grid-row: 2 / span-1;
}

main{
    grid-column: 1 / span-1;
    
}
footer{
    grid-column: 1 / span-1;
    
}


